In [8]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
import requests

In [9]:
response = requests.get('http://workshala.onrender.com/jobs')
data = response.json()  
df = pd.DataFrame(data)

In [10]:
df.head()

,applicants,_id,companyName,jobType,description,startDate,stipend,duration,applyBy,imageUrl
0,[],6551ea10b5dd9fb732acc397,IBM,Internship,NodeJS Engineers Needed Urgently,1 Dec,"12,000",3 months,26 Nov,https://res.cloudinary.com/doctqxch9/image/upl...
1,[],6551eab4b5dd9fb732acc398,Google,Internship,Hiring Data Scientist,1 Dec,"20,000",3 months,26 Nov,https://res.cloudinary.com/doctqxch9/image/upl...
2,[],65548a4143b029ebf051b4ef,Microsoft,Full-Time,Data Scientist,2 Dec,"11,000",3 months,25 Nov,https://res.cloudinary.com/doctqxch9/image/upl...
3,[],65548a7243b029ebf051b4f0,Apple,Full-Time,SDE,6 Dec,"18,000",3 months,26 Nov,https://res.cloudinary.com/doctqxch9/image/upl...
4,[],65548c0c43b029ebf051b4f1,Deloitte,Internship,ReactJS and Android Developers,10 Dec,"20,000",6 months,20 Nov,https://res.cloudinary.com/doctqxch9/image/upl...

In [11]:
df.isnull().sum()

applicants     0
_id            0
companyName    0
jobType        0
description    0
startDate      0
stipend        0
duration       0
applyBy        0
imageUrl       0
dtype: int64

In [15]:
vectorizer = TfidfVectorizer()

In [14]:
df['features'] = df['_id'] + ' ' + df['companyName'] + ' ' + df['jobType'] + ' ' + df['description'] + ' ' + df['startDate'] + ' ' + df['stipend'] + ' ' + df['duration']